HOST=127.0.0.1
PORT=3000
TRUST_PROXY=
CORS_ORIGIN=
APP_LOGIN_USERNAME=admin
APP_LOGIN_PASSWORD=change-this-login-password
APP_LOGIN_SESSION_SECRET=change-this-session-secret
MUYUAN_BASE_URL=https://muyuan.do/
MUYUAN_ACCOUNTS_FILE=./accounts.txt
MUYUAN_CACHE_TTL_MS=10000
MUYUAN_RATE_LIMIT_COOLDOWN_MS=3600000
MUYUAN_USAGE_SYNC_DELAY_MS=600000
MUYUAN_TIMEOUT_MS=15000
MUYUAN_CHECKIN_INITIAL_DELAY_MS=1800000
MUYUAN_CHECKIN_MIN_DELAY_MS=1800000
MUYUAN_CHECKIN_MAX_DELAY_MS=2700000
MUYUAN_CHECKIN_SUCCESS_STEP_MS=0
MUYUAN_CHECKIN_FAILURE_STEP_MS=300000
MUYUAN_CHECKIN_DELAY_JITTER_MS=300000
MUYUAN_AUTO_CHECKIN_ENABLED=1
MUYUAN_AUTO_CHECKIN_TIME=00:01
MUYUAN_AUTO_CHECKIN_TZ=Asia/Shanghai
MUYUAN_AUTO_CHECKIN_CATCH_UP=1
MUYUAN_AUTO_CHECKIN_RETRY_MINUTES=60
MUYUAN_DEBUG=0
XEM8K5_BASE_URL=http://new.xem8k5.top:3000/
XEM8K5_ACCOUNTS_FILE=./accounts.xem8k5.txt
XEM8K5_CACHE_TTL_MS=10000
XEM8K5_RATE_LIMIT_COOLDOWN_MS=180000
XEM8K5_USAGE_SYNC_DELAY_MS=4000
XEM8K5_TIMEOUT_MS=15000
XEM8K5_CURRENCY_SYMBOL_OVERRIDE=$
XEM8K5_AUTO_CHECKIN_ENABLED=1
XEM8K5_AUTO_CHECKIN_TIME=00:01
XEM8K5_AUTO_CHECKIN_TZ=Asia/Shanghai
XEM8K5_AUTO_CHECKIN_CATCH_UP=1
XEM8K5_AUTO_CHECKIN_RETRY_MINUTES=10
XEM8K5_DEBUG=0
DGBMC_BASE_URL=https://freeapi.dgbmc.top/
DGBMC_ACCOUNTS_FILE=./accounts.dgbmc.txt
DGBMC_CACHE_TTL_MS=10000
DGBMC_RATE_LIMIT_COOLDOWN_MS=180000
DGBMC_USAGE_SYNC_DELAY_MS=4000
DGBMC_TIMEOUT_MS=15000
DGBMC_CURRENCY_SYMBOL_OVERRIDE=$
DGBMC_AUTO_CHECKIN_ENABLED=1
DGBMC_AUTO_CHECKIN_TIME=00:01
DGBMC_AUTO_CHECKIN_TZ=Asia/Shanghai
DGBMC_AUTO_CHECKIN_CATCH_UP=1
DGBMC_AUTO_CHECKIN_RETRY_MINUTES=10
DGBMC_DEBUG=0
JIUUIJ_BASE_URL=https://jiuuij.de5.net/
JIUUIJ_ACCOUNTS_FILE=./accounts.jiuuij.txt
JIUUIJ_CACHE_TTL_MS=10000
JIUUIJ_RATE_LIMIT_COOLDOWN_MS=180000
JIUUIJ_USAGE_SYNC_DELAY_MS=4000
JIUUIJ_TIMEOUT_MS=15000
JIUUIJ_CURRENCY_SYMBOL_OVERRIDE=$
JIUUIJ_AUTO_CHECKIN_ENABLED=1
JIUUIJ_AUTO_CHECKIN_TIME=00:01
JIUUIJ_AUTO_CHECKIN_TZ=Asia/Shanghai
JIUUIJ_AUTO_CHECKIN_CATCH_UP=1
JIUUIJ_AUTO_CHECKIN_RETRY_MINUTES=10
JIUUIJ_DEBUG=0
VITE_API_BASE_URL=
