PORT=3000
CAOWO_BASE_URL=https://caowo.xin
CAOWO_ACCOUNTS_FILE=D:\Coding Project\Auto_CW\accounts.txt
CAOWO_CACHE_TTL_MS=10000
CAOWO_RATE_LIMIT_COOLDOWN_MS=180000
CAOWO_USAGE_SYNC_DELAY_MS=4000
CAOWO_TIMEOUT_MS=15000
VITE_API_BASE_URL=
